.AddQuiz{
    display: flex;
    justify-content: center;
    Form{
        width: 70%;
        padding: 25px 50px;
        margin-top: 50px;
        box-shadow: 5px 5px 10px black;
        border-radius: 20px;
        background: linear-gradient(to right, #2b5876, #4e4376);
        label{
            color: seashell;
            font-weight: bold;

        }
    }
    
}

@media (max-width:800px){
    .AddQuiz{
        Form{
            width: 95%;
        }
    }
}